<form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
  <div class="form-row">
    <label for="fname">What´s your name?</label>
    <input
      #name="ngModel"
      [(ngModel)]="contactData.name"
      type="text"
      id="name"
      name="name"
      [placeholder]="
        !name.valid && name.touched
          ? 'Oops! it seems your name is missing'
          : 'Your name goes here'
      "
      required
    />
  </div>

  <div class="form-row">
    <label for="email">What´s your email?</label>
    <input
      #email="ngModel"
      [(ngModel)]="contactData.email"
      type="email"
      id="email"
      name="email"
      [placeholder]="
        !email.valid && email.touched
          ? 'Hoppla! your email is required'
          : 'your-email@email.com'
      "
      required
      pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
    />
  </div>

  <div class="form-row border-bottom">
    <label for="message">How can I help you?</label>
    <textarea
      #message="ngModel"
      rows="1"
      [(ngModel)]="contactData.message"
      id="subject"
      name="subject"
      [placeholder]="
        !message.valid && message.touched
          ? 'What do you need to develop?'
          : 'Please enter a message'
      "
      required
    ></textarea>
  </div>

  <div class="checkbox">
    <input
      #privacyPolicy="ngModel"
      type="checkbox"
      id="privacyPolicy"
      name="privacyPolicy"
      [(ngModel)]="privacyPolicyChecked"
      required
    />
    <label for="privacyPolicy">
      I've read the
      <a routerLink="/imprint" target="_blank">privacy Policy</a>
      and agree to the processing of my data as outlined.
    </label>
  </div>
  @if(!privacyPolicyChecked && formSubmitted) {
    <span class="error"> Please accept the privacy policy. </span>
    }

  <input class="submit-btn" type="submit" value="Say hello :)" />
</form>
