<div class="container">
  <form (ngSubmit)="onSubmit()">
    <div class="form-row">
      <label for="fname">Name</label>
      <input
        [(ngModel)]="contactData.name"
        type="text"
        id="name"
        name="name"
        placeholder="Your name.."
      />
    </div>

    <div class="form-row">
      <label for="email">Email</label>
      <input
        [(ngModel)]="contactData.email"
        type="email"
        id="email"
        name="email"
        placeholder="Your Email.."
      />
    </div>

    <div class="form-row">
      <label for="message">Message</label>
      <textarea
        rows="1"
        [(ngModel)]="contactData.message"
        id="subject"
        name="subject"
        placeholder="Write something.."
      ></textarea>
    </div>

    <div class="checkbox">
      <input
        type="checkbox"
        id="privacyPolicy"
        name="privacyPolicy"
        [(ngModel)]="contactData.privacyPolicyChecked"
        required
      />
      <label for="privacyPolicy">
        I've read the 
        <a href="/imprint" target="_blank">privacy Policy</a>
        and agree to the processing of my data as outlined.
      </label>
    </div>

    <input class="submit-btn" type="submit" value="Say hello :)" />
  </form>
</div>
