@import "../../../../styles.scss";

:host {
  width: 100%;
  @include respond-to('lg') {
    width: 50%;
  }
}

form {
  @include dFlex($fd: column, $ai: flex-start);
}

.border-bottom {
  border-bottom: 1px solid white;
}

.checkbox {
  @include dFlex($jc: flex-start, $g: 16px);
  width: 100%;
  margin-top: 32px;
  input[type="checkbox"] {
    background-color: transparent;
    border: 1px solid $accent-color;
    appearance: none;
    width: 18px;
    height: 18px;
    aspect-ratio: 1;
    border: 3px solid $accent-color;
    border-radius: 2px;
    cursor: pointer;
    &:after {
      content: "";
      width: 12px;
      height: 12px;
      background-image: url("/img/check.svg");
      background-size: auto;
      background-repeat: no-repeat;
      background-position: center;
      display: none;
    }
    &:checked:after {
      display: block;
    }
  }
  label {
    font-size: 15px;
  }
  a {
    text-decoration: none;
    color: $accent-color;
    &:hover {
      color: white;
    }
  }
}

.form-row {
  @include dFlex($fd: column, $ai: flex-start, $g: 16px);
  width: 100%;
  padding: 24px 16px;
  border-top: 1px solid white;
  &:hover input::placeholder,
  &:hover textarea::placeholder {
    color: #fff;
  }
  input,
  textarea {
    width: 100%;
    border-style: none;
    background: none;
    font-family: "Karla";
    font-size: 18px;
    font-weight: 400;
    color: white;
    resize: none;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: $accent-color;
    }
    &:invalid.ng-touched::placeholder {
      color: $error-text;
    }
  }
  label {
    font-family: "Fira-Code";
    font-size: 24px;
    font-weight: 500;
    color: $accent-color;
  }
}

.error {
  color: $error-text;
  display: block;
  font-size: 14px;
  margin-top: 8px;
}

.submit-btn {
  width: 50%;
  margin-top: 32px;
  border: 1px solid $accent-color;
  border-radius: 100px;
  padding: 16px;
  background: none;
  color: white;
  align-self: center;
  cursor: pointer;
}
