<form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
  <div class="form-row">
    <label for="fname">{{ "contactForm.nameLabel" | translate }}</label>
    <input
      #name="ngModel"
      [(ngModel)]="contactData.name"
      type="text"
      id="name"
      name="name"
      [placeholder]="
        !name.valid && name.touched
          ? ('contactForm.nameError' | translate)
          : ('contactForm.namePlaceholder' | translate)
      "
      required
    />
  </div>

  <div class="form-row">
    <label for="email">{{ "contactForm.emailLabel" | translate }}</label>
    <input
      #email="ngModel"
      [(ngModel)]="contactData.email"
      type="email"
      id="email"
      name="email"
      [placeholder]="
        !email.valid && email.touched
          ? ('contactForm.emailError' | translate)
          : ('contactForm.emailPlaceholder' | translate)
      "
      required
      pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
    />
  </div>

  <div class="form-row border-bottom">
    <label for="message">{{ "contactForm.messageLabel" | translate }}</label>
    <textarea
      #message="ngModel"
      rows="1"
      [(ngModel)]="contactData.message"
      id="subject"
      name="subject"
      [placeholder]="
        !message.valid && message.touched
          ? ('contactForm.messageError' | translate)
          : ('contactForm.messagePlaceholder' | translate)
      "
      required
    ></textarea>
  </div>

  <div class="checkbox">
    <input
      #privacyPolicy="ngModel"
      type="checkbox"
      id="privacyPolicy"
      name="privacyPolicy"
      [(ngModel)]="privacyPolicyChecked"
      required
    />
    <label for="privacyPolicy">
      {{ "contactForm.privacyPolicy1" | translate }}
      <a routerLink="/imprint" target="_blank">{{
        "contactForm.privacyPolicy2" | translate
      }}</a>
      {{ "contactForm.privacyPolicy3" | translate }}
    </label>
  </div>
  @if(!privacyPolicyChecked && formSubmitted) {
  <span class="error">
    {{ "contactForm.privacyPolicyError" | translate }}
  </span>
  }
  <button
    class="submit-btn"
    [class.form-valid]="contactForm.valid"
    type="submit"
  >
    <span>{{ "contactForm.submitBtn" | translate }}</span>
  </button>
</form>
@if(emailSent){
<span class="success">{{ "contactForm.successMessage" | translate }}</span>
}
