@import '../../../../styles.scss';

:host {
    width: 50%;
}

form {
    @include dFlex($fd: column, $ai: flex-start, $g: 8px);
    input {
        width: 100%;
    }
    textarea {
        width: 100%;
    }
}