@import '../../../styles.scss';

:host {
    @include dFlex($fd: column, $jc: space-between, $ai: flex-start, $g: 64px);
    width: 100%;
    padding: 16px;
    @include respond-to('sm') {
        padding: 32px 64px;
    }
    @include respond-to('md') {
        padding: 32px 128px;
    }
    background-color: $background-color-primary;
    span:first-of-type {
        font-family: 'Fira-Code';
        font-size: 64px;
        font-weight: 700;
        color: $accent-color;
    }
    span:nth-of-type(2) {
        font-family: 'Fira-Code';
        font-size: 24px;
        color: $accent-color;
    }
    p {
        font-size: 16px;
        span {
            color: $accent-color;
            font-size: 16px;
            font-weight: 700;
        }
    }
    @include respond-to('lg') {
        flex-direction: row;
        padding: 64px 128px;
    }
}

h2 {
    color: $accent-color;
    font-weight: 500;
}

.contact-text {
    @include dFlex($fd: column, $ai: flex-start, $g: 16px);
    width: 100%;
    @include respond-to('lg') {
        width: 50%;
    }
}