<div class="overlay">
  <div class="cancel-wrapper">
    <div class="cancel" (click)="emitCloseEvent()">
      <img
        [src]="cancelIconPath"
        (mouseover)="onMouseOver('cancel-icon')"
        (mouseleave)="onMouseLeave('cancel-icon')"
      />
    </div>
  </div>
  <div class="main-div">
    <div class="project-info">
      <span>{{ getFormattedId(project?.id || 0) }}</span>
      <h2>{{ project?.title }}</h2>
      <span>{{ 'overlay.question' | translate}}</span>
      <p>{{ 'overlay.description.' + project?.id | translate }}</p>
      <div class="stack-icons">
        @for(stackIconPath of getStackIconPath(); track $index) {
        <div class="stack-icon">
          <img [src]="stackIconPath" />
          <span>{{ getStackName($index) }}</span>
        </div>
        }
      </div>
      <div class="button-div">
        <a
          href="{{ project?.gitHubUrl }}"
          target="_blank"
          rel="noopener noreferrer"
          >GitHub <img src="/img/arrow-up-green.svg" alt=""
        /></a>
        <a
          href="{{ project?.projectUrl }}"
          target="_blank"
          rel="noopener noreferrer"
          >Live Test <img src="/img/arrow-up-green.svg" alt=""
        /></a>
      </div>
    </div>
    <div class="project-img">
      <img src="{{ project?.imageUrl }}" alt="" />
    </div>
  </div>
  <button
    (click)="nextProject()"
    (mouseover)="onMouseOver('arrow-right')"
    (mouseleave)="onMouseLeave('arrow-right')"
  >
    {{'overlay.next' | translate}} <img src="/img/arrow-right.svg" [src]="arrowRightIconPath" />
  </button>
</div>
