@import "../../../styles.scss";

:host {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  @include dFlex();
  width: 100%;
  min-height: 100%;
  padding: 16px;
}

h2 {
  font-family: "Fira-Code";
  font-size: 48px;
  font-weight: 700;
  @include respond-to("lg") {
    font-size: 64px;
  }
}

.button-div {
  @include dFlex($g: 32px);
  padding: 8px 0;
  @include respond-to('sm') {
    gap: 32px;
    justify-content: flex-start;
  }
  a {
    @include dFlex($g: 8px);
    text-decoration: none;
    border: 1px solid white;
    border-radius: 100px;
    padding: 12px 16px;
    background: transparent;
    color: white;
    font-family: "Karla";
    font-size: 18px;
    transition: all 0.6s ease;
    img {
      transition: transform 0.6s ease;
      transform: translate(0);
    }
    &:hover {
      border-color: $accent-color;
      color: $accent-color;
      img {
        transform: translate(6px, -3px);
      }
    }
  }
}

.cancel {
  @include dFlex();
  width: 24px;
  height: 50px;
  img {
    cursor: pointer;
  }
}

.cancel-wrapper {
  @include dFlex($jc: flex-end);
  width: 100%;
}

.main-div {
  @include dFlex($fd: column-reverse, $jc: space-between, $g: 64px);
  width: 100%;
  @include respond-to("lg") {
    flex-direction: row;
  }
}

.overlay {
  position: absolute;
  border-radius: 32px;
  border: 1px solid $accent-color;
  background: linear-gradient(
    45deg,
    $background-color-primary 40%,
    $background-color-secondary 100%
  );
  padding: 16px;
  z-index: 1000;
  @include dFlex($fd: column, $jc: flex-start, $g: 16px);
  width: 90%;
  max-width: 1440px;
  max-height: 90%;
  overflow-y: auto;
  @include respond-to("sm") {
    width: 90%;
    padding: 32px;
  }
  @include respond-to("xl") {
    padding: 64px;
  }
  button {
    margin-bottom: 16px;
    background: none;
    border: none;
    color: $accent-color;
    cursor: pointer;
    font-family: "Karla";
    font-size: 18px;
    align-self: flex-end;
    @include dFlex($g: 8px);
    transition: all 0.6s ease;
    img {
      transition: transform 0.6s ease;
    }
    &:hover {
      color: white;
      img {
        transform: translateX(8px);
      }
    }
  }
}

.project-info {
  @include dFlex($fd: column, $ai: space-between, $g: 8px);
  width: 100%;
  @include respond-to("lg") {
    gap: 16px;
    width: 50%;
  }
  > span:first-of-type {
    font-size: 72px;
    font-weight: 700;
    color: $accent-color;
    @include respond-to("lg") {
      font-size: 128px;
      gap: 32px;
    }
  }
  > span:nth-of-type(2) {
    color: $accent-color;
    font-family: "Fira-Code";
    font-size: 24px;
    font-weight: 700;
  }
}

.project-img {
  @include dFlex($jc: flex-start);
  width: 100%;
  @include respond-to("lg") {
    width: 50%;
  }
  img {
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
    @include respond-to("lg") {
      height: 100%;
    }
    @include respond-to-landscape {
      max-width: 250px;
    }
  }
}

.stack-icons {
  @include dFlex($jc: flex-start, $g: 16px);
  flex-wrap: wrap;
  padding: 8px 0;
  @include respond-to('lg') {
    gap: 32px;
  }
}

.stack-icon {
  @include dFlex($g: 8px);
  span {
    font-size: 16px;
  }
  img {
    height: 24px;
  }
}
