<div class="overlay">
    <div class="cancel" (click)="emitCloseEvent()">
        <img src="/img/cancel.svg" alt="" />
      </div>
      <div class="main-div">
          <div class="project-info">
              <span>{{ project?.id }}</span>
              <h2>{{ project?.title }}</h2>
              <span>What is this project about?</span>
              <p>{{ project?.description }}</p>
          </div>
          <div class="project-img">
              <img src="{{ project?.imageUrl }}" alt="">
          </div>
      </div> 
</div>

