@import '../../../styles.scss';

:host {
    background-color: rgba(0, 0, 0, 0.5);
    @include dFlex();
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    font-family: 'Fira-Code';
    font-size: 64px;
    font-weight: 700;
}

.cancel {
    position: absolute;
    top: 32px;
    right: 32px;
    @include dFlex($jc: flex-end);
    width: 100%;
    cursor: pointer;
}

.main-div {
    @include dFlex($g: 32px);
    width: 100%;
}

.overlay {
    position: relative;
    border-radius: 32px;
    border: 1px solid $accent-color;
    background: linear-gradient(45deg, $background-color-primary 40%, $background-color-secondary 100%);
    padding: 64px;
    z-index: 1000;
    overflow: auto;
    @include dFlex($fd: column, $g: 16px);
    width: 80%;
    height: 80%;
}

.project-info {
    @include dFlex($fd: column, $ai: flex-start);
    flex: 1;
    span:first-of-type {
        font-size: 128px;
        font-weight: 700;
        color: $accent-color;
    }
    span:nth-of-type(2) {
        color: $accent-color;
        font-family: 'Fira-Code';
        font-size: 24px;
        font-weight: 700;
    }
}

.project-img {
    @include dFlex();
    flex: 1;
    img {
        width: 100%;
    }
}