@import '../../styles.scss';

:host{
    height: 100vh;
    background-color: $background-color;
    color: $text-color-primary;
    @include dFlex();
}

h1 {
    font-size: 128px;
    font-weight: 700;
    text-align: center;
}