<span>Portfolio</span>
<h2>Featured Projects</h2>
<p>
  Lorem ipsum dolor sit amet, consetetur sadipscing elitr,<br> sed diam nonumy
  eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
</p>
<ul>
    <li>
        <div class="left">Join <img src="/img/arrow-up.svg" alt=""></div>
        <div class="right">Angular | Typescript | HTML | CSS | Firebase</div>
    </li>
    <li>
        <div class="left">El Pollo Loco <img src="/img/arrow-up.svg" alt=""></div>
        <div class="right">Angular | Typescript | HTML | CSS | Firebase</div>
    </li>
    <li class="border-bottom">
        <div class="left">DA Bubble <img src="/img/arrow-up.svg" alt=""></div>
        <div class="right">Angular | Typescript | HTML | CSS | Firebase</div>
    </li>
</ul>
