<span>Portfolio</span>
<h2>Featured Projects</h2>
<p>
  Lorem ipsum dolor sit amet, consetetur sadipscing elitr,<br />
  sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
  erat,
</p>
<ul>
  @for (project of projects; track project.id) {
    <li>
      <div class="left-wrapper">
        <div class="left">
          {{ project.title }}
          <div class="arrow"><img src="/img/arrow-up.svg" alt="" /></div>
        </div>
        <div class="right">{{ project.stack }}</div>
      </div>
      <div class="right-wrapper">
        <div class="img-div">
          <img class="screenshot" [src]="project.imageUrl" [alt]="project.title" />
        </div>
      </div>
    </li>
  }
  @empty {
    <li>Keine Projekte verfügbar.</li>
  }
</ul>
<app-overlay/>
