<div class="title">
  <span>{{ 'hero.subtitle' | translate }}</span>
  <h1>Marcus Hartmann</h1>
  <div class="buttons-div">
    <app-button label="{{ 'heroBtn.projects' | translate }}" targetId="projects" />
    <app-button label="{{ 'heroBtn.contact' | translate }}" targetId="contact" />
  </div>
</div>
<div class="left-seperator-div" data-aos="flip-left" data-aos-duration="2000">
  <div class="scroll-down" data-aos="flip-left" data-aos-duration="2000"><span>&#8595;</span></div>
  <div class="vertical-seperator" data-aos="fade-up" data-aos-duration="2000"></div>
</div>
<div class="right-seperator-div" data-aos="flip-right" data-aos-duration="2000">
  <a class="email" [href]="'mailto:' + email">{{ email }}</a>
  <a [href]="'mailto:' + email">
    <img
      class="email-icon"
      [src]="emailIcon"
      (mouseover)="onMouseOver('email')"
      (mouseleave)="onMouseLeave('email')"
  /></a>
  <a
    href="https://github.com/mrcsbrln"
    target="_blank"
    rel="noopener noreferrer"
  >
    <img
      [src]="githubIcon"
      (mouseover)="onMouseOver('github')"
      (mouseleave)="onMouseLeave('github')"
      alt="GitHub Icon"
    />
  </a>
  <a
    href="https://www.linkedin.com/in/marcus-hartmann-berlin/"
    target="_blank"
    rel="noopener noreferrer"
  >
    <img
      [src]="linkedInIcon"
      (mouseover)="onMouseOver('linkedin')"
      (mouseleave)="onMouseLeave('linkedin')"
      alt="LinkedIn Icon"
    />
  </a>

  <div class="vertical-seperator" data-aos="fade-up" data-aos-duration="2000"></div>
</div>
<app-marquee />
