@import "../../../styles.scss";

:host {
  min-height: 100vh;
  @include respond-to-landscape {
    min-height: 150vh;
  }
  background: linear-gradient(
    45deg,
    $background-color-primary 40%,
    $background-color-secondary 100%
  );
  color: $text-color-primary;
  @include dFlex($fd: column);
}

h1 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  @include respond-to('md') {
    font-size: 64px;
  }
  @include respond-to('xl') {
    font-size: 96px;
  }
}

span {
  font-family: "Fira-Code";
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  @include respond-to('sm') {
    font-size: 32px;
  }
  @include respond-to('md') {
    font-size: 40px;
  }
}

.buttons-div {
  margin-top: 32px;
  @include dFlex($fd: column, $g: 16px);
  @include respond-to('sm') {
    gap: 32px;
    flex-direction: row;
  }
}


.email-icon {
    display: inline-block;
    cursor: pointer;
    @include respond-to('lg') {
        display: none;
    }
}

.left-seperator-div {
  position: absolute;
  bottom: 0;
  left: 32px;
  @include respond-to-landscape {
    bottom: -50vh;
  }
  @include dFlex($fd: column, $g: 16px);
  @include respond-to('sm') {
    left: 64px;
  }
  @include respond-to('md') {
    left: 128px;
  }
}

.right-seperator-div {
  position: absolute;
  bottom: 0;
  right: 32px;
  @include respond-to-landscape {
    bottom: -50vh;
  }
  @include dFlex($fd: column, $g: 16px);
  @include respond-to('sm') {
    right: 64px;
  }
  @include respond-to('md') {
    right: 128px;
  }
  .vertical-seperator {
    height: 15vh;
    @include respond-to('sm') {
      height: 25vh;
    }
  }
  a.email {
    display: none;
    rotate: -90deg;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    &:hover {
      color: $accent-color;
    }
    @include respond-to('lg') {
      display: inline;
    }
  }
}

.scroll-down {
  width: 30px;
  height: 48px;
  border-radius: 32px;
  border: 1px solid $accent-color;
  @include dFlex();
  overflow: hidden;
  span {
    font-size: 16px;
    animation: arrow-down 500ms linear alternate infinite;
  }
}

.title {
  @include dFlex($fd: column);
}

.vertical-seperator {
  width: 1px;
  height: 25vh;
  border: 1px solid $accent-color;
  @include respond-to('sm') {
    height: 192px;
  }
  @include respond-to('lg') {
    height: 256px;
  }
}

@keyframes arrow-down {
  0% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(8px);
  }
}