@import '../../../styles.scss';

:host{
    height: 100vh;
    background: linear-gradient(45deg, $background-color-primary 40%, $background-color-secondary 100%);
    color: $text-color-primary;
    @include dFlex();
}

h1 {
    font-size: 128px;
    font-weight: 700;
    text-align: center;
}

span {
    font-family: 'Fira-Code';
    font-weight: 400;
    font-size: 40px;
    text-align: center;
}

.buttons-div {
    @include dFlex($g: 16px);
}

.title {
    @include dFlex($fd: column);
}