<div class="portrait-div">
  <img class="portrait" src="/img/mh.jpg" alt="" />
</div>
<div class="about-me-wrapper">
  <span>Who I am</span>
  <div class="about-me">
    <h2>About me</h2>
    <p>
      Java is, in many ways, C++–. (Michael Feldman) PHP is a minor evil
      perpetrated and created by incompetent amateurs, whereas Perl is a great
      and insidious evil perpetrated by skilled but perverted professionals.
      (Jon Ribbens) One man’s crappy software is another man’s full-time job.
      (Jessica Gaston) Debugging is twice as hard as writing the code in the
      first place. Therefore, if you write the code as cleverly as possible, you
      are–by definition–not smart enough to debug it. (Brian Kernighan)
    </p>
    <div class="icon-list">
      <img src="/img/location.svg" alt="" />
      <p>
        If builders built buildings the way programmers wrote programs, then the
        first woodpecker that came along would destroy civilization. (Gerald
        Weinberg) gger and better
        idiots. So far the Universe is winning. (Rich Cook)
      </p>
    </div>
    <div class="icon-list">
      <img src="/img/open-minded.svg" alt="" />
      <p>The trouble with programmers is that you can never tell what a
        programmer is doing until it’s too late. (Seymour Cray) There are two
        ways to write error-free programs; only the third one works. (Alan J.
        Perlis)</p>
    </div>
    <div class="icon-list">
      <img src="/img/check-framed.svg" alt="" />
      <p>We will never become a truly paper-less society until the Palm
        Pilot folks come out with WipeMe 1.0. (Andy Pierson) Programmers are in
        a race with the Universe to create bigger and better idiot-proof
        programs, while the Universe is trying to create bi</p>
    </div>
  </div>
</div>
