@import '../../../styles.scss';

:host {
    @include dFlex($g: 64px);
    height: 100vh;
    background-color: $background-color-primary;
    padding: 128px;
}

h2 {
    font-size: 64px;
    color: $accent-color;
}

img {
    width: 500px;
    border-radius: 30px;
    align-self: flex-start;
}

.about-me-wrapper {
    @include dFlex($ai: flex-start, $fd: column, $g: 16px);
    align-self: flex-end;
}

.about-me {
    @include dFlex($fd: column, $ai: flex-start);
    background-color: $background-color-card;
    padding: 32px;
    border-radius: 30px;
    border: 1px solid white;
}