@import "../../../styles.scss";

:host {
  display: flex;
  justify-content: flex-start;
  background-color: $background-color-primary;
  overflow: hidden;
}

h2 {
  font-size: 64px;
  color: $accent-color;
}

.about-me-wrapper {
  @include dFlex($ai: flex-start, $fd: column, $g: 16px);
  align-self: flex-end;
  span {
    color: $accent-color;
    font-size: 24px;
    font-weight: 500;
  }
  @include respond-to('xl') {
    flex: 1.25;
  }
}

.about-me {
  @include dFlex($fd: column, $ai: flex-start, $g: 16px);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.05);
  padding: 32px;
  border-radius: 30px;
  border: 1px solid white;
}

.icon-list {
  @include dFlex($g: 16px);
  img {
    width: 32px;
  }
  p {
    color: $accent-color;
    @include transition-all;
    &:hover {
      color: white;
    }
  }
}

.portrait-div {
  @include dFlex();
  width: 80%;
  max-width: 350px;
  background-image: repeating-linear-gradient(
    45deg,
    $accent-color,
    $accent-color 1px,
    $background-color-primary 1px,
    $background-color-primary 16px
  );
  border-radius: 30px;
  @include respond-to("xl") {
    width: 100%;
    flex: 1;
  }
}

.portrait {
  position: relative;
  left: 32px;
  bottom: 16px;
  width: 100%;
  border-radius: 30px;
  align-self: flex-start;
  @include respond-to("xl") {
    width: 100%;
  }
}

.wrapper {
  @include dFlex($fd: column, $ai: flex-start, $g: 32px);
  @include max-width;
  @each $breakpoint, $padding in $padding-values {
    @include respond-to($breakpoint) {
      padding: $padding;
    }
  }
  @include respond-to("xl") {
    flex-direction: row;
    gap: 128px;
  }
}
