<div class="wrapper">
  <div
    class="portrait-div"
    data-aos="fade-up-right"
    data-aos-duration="1000"
  >
    <img class="portrait" src="/img/mh.jpg" />
  </div>
  <div
    class="about-me-wrapper"
    data-aos="fade-up-left"
    data-aos-duration="1000"
  >
    <span>{{ "aboutMe.subtitle" | translate }}</span>
    <div class="about-me">
      <h2>{{ "aboutMe.title" | translate }}</h2>
      <p>{{ "aboutMe.text" | translate }}</p>
      <div class="icon-list">
        <img class="icon" src="/img/location.svg" alt="" />
        <p>{{ "aboutMe.location" | translate }}</p>
      </div>
      <div class="icon-list">
        <img class="icon" src="/img/open-minded.svg" alt="" />
        <p>{{ "aboutMe.mindset" | translate }}</p>
      </div>
      <div class="icon-list">
        <img class="icon" src="/img/check-framed.svg" alt="" />
        <p>{{ "aboutMe.profession" | translate }}</p>
      </div>
    </div>
  </div>
</div>
