<div class="portrait-div">
  <img class="portrait" src="/img/mh.jpg" alt="" />
</div>
<div class="about-me-wrapper">
  <span>{{ "aboutMe.subtitle" | translate }}</span>
  <div class="about-me">
    <h2>{{ "aboutMe.title" | translate }}</h2>
    <p>{{ "aboutMe.text" | translate }}</p>
    <div class="icon-list">
      <img class="icon" src="/img/location.svg" alt="" />
      <p>{{ "aboutMe.location" | translate }}</p>
    </div>
    <div class="icon-list">
      <img class="icon" src="/img/open-minded.svg" alt="" />
      <p>{{ "aboutMe.mindset" | translate }}</p>
    </div>
    <div class="icon-list">
      <img class="icon" src="/img/check-framed.svg" alt="" />
      <p> {{'aboutMe.profession' | translate}} </p>
    </div>
  </div>
</div>
