@import '../../../styles.scss';

:host {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 32px;
}

a {
    color: $text-color-primary;
    text-decoration: none;
    font-family: 'Fira-Code';
    font-size: 20px;
    &:active {
        color: $accent-color;
    }
}

div {
    @include dFlex($g: 16px);
}

img {
    width: 150px;
}

nav{
    @include dFlex($jc: space-between,$g: 16px);
}