@import '../../../styles.scss';

:host {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 32px 128px;
    background: linear-gradient(180deg, black 0%, transparent 60%);
}

a {
    color: $text-color-primary;
    text-decoration: none;
    font-family: 'Fira-Code';
    font-size: 20px;
    &:active {
        color: $accent-color;
    }
}

img {
    width: 150px;
}

nav{
    @include dFlex($jc: space-between,$g: 16px);
}

.burger-menu {
    width: 32px;
    cursor: pointer;
}

.left, .menu {
    @include dFlex($g: 16px);
}

@media (min-width: 769px) {
    .menu {
      display: flex;
    }
  
    .burger-menu {
      display: none;
    }
  }
  
  @media (max-width: 768px) {
    .left {
      display: none;
    }
  
    .burger-menu {
      display: block;
    }
  }