<nav>
  <div class="left">
    <app-language-toggle />
    <div class="menu">
      <a href="#about-me">{{ 'nav.aboutMe' | translate }}</a>
      <a href="#skills">{{ 'nav.skills' | translate }}</a>
      <a href="#projects">{{ 'nav.projects' | translate }}</a>
    </div>
  </div>
  <img src="/img/mh-logo.png" alt="" />
  <img
    class="burger-menu"
    src="/img/burger-menu.svg"
    (click)="openMobileMenu()"
  />
</nav>
@if(mobileMenuOpen()){
<app-mobile-menu
  [slideOut]="slideOut"
  (closeEvent)="closeMobileMenu()"
/>
}
