@import '../../../styles.scss';

:host {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 16px;
    @include respond-to('sm') {
        padding: 32px 64px;
    }
    @include respond-to('md') {
        padding: 32px 128px;
    }
    background: linear-gradient(180deg, black 0%, transparent 60%);
}

a {
    color: $text-color-primary;
    text-decoration: none;
    font-family: 'Fira-Code';
    font-size: 20px;
    &:active {
        color: $accent-color;
    }
}

img {
    width: 150px;
    cursor: pointer;
}

nav{
    @include dFlex($jc: space-between,$g: 16px);
}

.burger-menu {
    width: 32px;
    cursor: pointer;
    @include respond-to(lg) {
      display: none;
  }
}

.left, .menu {
    @include dFlex($g: 16px);
    display: none;

    @include respond-to(lg) {
        display: flex; 
    }
    
}