<div class="skills-wrapper">
  <span appScrollAnimate [animationClass]="'animate-on-scroll'">{{
    "skills.subtitle" | translate
  }}</span>
  <div class="skills-inner-wrapper">
    <div
      class="skill-set-text"
      appScrollAnimate
      [animationClass]="'animate-on-scroll'"
    >
      <h2>Skill set</h2>
      <p>{{ "skills.subtitle" | translate }}</p>
      <p>{{ "skills.text" | translate }}</p>
      <h3>
        {{ "skills.q1" | translate }}
        <span>{{ "skills.q2" | translate }} </span>
      </h3>
      <p>{{ "skills.ctaContact" | translate }}</p>
      <app-button
        label="{{ 'skills.ctaBtn' | translate }}"
        targetId="contact"
      />
    </div>
    <div
      class="tech-icons"
      appScrollAnimate
      [animationClass]="'animate-on-scroll'"
    >
      <div class="tech-icon"><img src="/img/html.svg" /><span>HTML</span></div>
      <div class="tech-icon">
        <img src="/img/css.svg" alt="" /><span>CSS</span>
      </div>
      <div class="tech-icon">
        <img src="/img/javascript.svg" alt="" /><span>JavaScript</span>
      </div>
      <div class="tech-icon">
        <img src="/img/material.svg" alt="" /><span>Material</span>
      </div>
      <div class="tech-icon">
        <img src="/img/typescript.svg" alt="" /><span>Typescript</span>
      </div>
      <div class="tech-icon">
        <img src="/img/angular.svg" alt="" /><span>Angular</span>
      </div>
      <div class="tech-icon">
        <img src="/img/firebase.svg" alt="" /><span>Firebase</span>
      </div>
      <div class="tech-icon">
        <img src="/img/git.svg" alt="" /><span>Git</span>
      </div>
      <div class="tech-icon">
        <img src="/img/rest-api.svg" alt="" /><span>Rest-Api</span>
      </div>
      <div class="tech-icon">
        <img src="/img/scrum.svg" alt="" /><span>scrum</span>
      </div>
      <div class="tech-icon">
        <img src="/img/growth-mindset.svg" alt="" /><span>Growth</span>
      </div>
    </div>
  </div>
</div>
