<div class="skills-wrapper">
  <span>Technologies</span>
  <div class="skills-inner-wrapper">
    <div class="skill-set-text">
        <h2>Skill set</h2>
        <p>
          Java is, in many ways, C++–. (Michael Feldman) PHP is a minor evil
          perpetrated and created by incompetent amateurs, whereas Perl is a great
          and insidious evil perpetrated by skilled but perverted professionals.
          (Jon Ribbens) One man’s crappy software is another man’s full-time job.
          (Jessica Gaston)
        </p>
        <h3>You need <span>another Skill?</span></h3>
        <p>
            Java is, in many ways, C++–. (Michael Feldman) PHP is a minor evil
            perpetrated and created by incompetent amateurs, whereas Perl is a great
            and insidious evil perpetrated 
          </p>
          <app-button label="Let´s talk" />
      </div>
      <div class="tech-icons">
        <div class="tech-icon">
          <img src="/img/html.svg" alt="" /><span>HTML</span>
        </div>
        <div class="tech-icon"><img src="/img/css.svg" alt="" /><span>CSS</span></div>
        <div class="tech-icon"><img src="/img/javascript.svg" alt="" /><span>JavaScript</span></div>
        <div class="tech-icon"><img src="/img/material.svg" alt="" /><span>Material</span></div>
        <div class="tech-icon"><img src="/img/typescript.svg" alt="" /><span>Typescript</span></div>
        <div class="tech-icon"><img src="/img/angular.svg" alt="" /><span>Angular</span></div>
        <div class="tech-icon"><img src="/img/firebase.svg" alt="" /><span>Firebase</span></div>
        <div class="tech-icon"><img src="/img/git.svg" alt="" /><span>Git</span></div>
        <div class="tech-icon"><img src="/img/rest-api.svg" alt="" /><span>Rest-Api</span></div>
        <div class="tech-icon"><img src="/img/scrum.svg" alt="" /><span>scrum</span></div>
        <div class="tech-icon"><img src="/img/growth-mindset.svg" alt="" /><span>Growth</span></div>
      </div>
  </div>
</div>

