@import '../../../styles.scss';

:host {
    background: radial-gradient(circle at 0% 50%, $background-color-secondary -20%, $background-color-primary 20%);
    @include dFlex($fd: column, $g: 64px);
    padding: 64px 128px;
}

h2 {
    font-size: 64px;
    color: $accent-color;
}

h3 {
    font-size: 24px;
    span{
        color: $accent-color;
    }
}

.skills-wrapper {
    @include dFlex($fd: column, $ai:flex-start, $g: 16px);
    span:first-of-type {
        color: $accent-color;
        font-size: 24px;
        font-weight: 500;
    }
}

.skills-inner-wrapper {
    @include dFlex($fd: column, $ai: flex-start, $g: 64px);
    @include respond-to('xl') {
        flex-direction: row;
        gap: 128px;
    }
}

.skill-set-text {
    @include dFlex($fd: column, $ai: flex-start, $g: 16px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.05);
    padding: 32px;
    flex: 1;
    border-radius: 30px;
    border: 1px solid white;
}

.tech-icons {
    @include dFlex($jc: flex-start, $g: 32px);
    flex-wrap: wrap;
    flex: 1.25;
}

.tech-icon {
    @include dFlex($fd: column, $g: 8px);
    width: 128px;
    font-family: 'fira-Code';
    img {
        height: 56px;
        transition: transform 500ms ease;
        &:hover {
            transform: scale(1.1);
        }
    }
}