@import '../../styles.scss';

:host {
    @include dFlex($fd: column);
    background-color: $background-color-primary;
    width: 100%;
    min-height: 100%;
    flex-grow: 1;
}

.imprint {
    @include dFlex($fd: column, $ai: flex-start, $g: 8px);
    min-height: 100%;
    flex-grow: 1;
}