<div>
    <span>{{ 'marquee.item1' | translate }}</span>
    <span>·</span>
    <span>{{ 'marquee.item2' | translate }}</span>
    <span>·</span>
    <span>{{ 'marquee.item3' | translate }}</span> 
    <span>·</span>
    <span>{{ 'marquee.item4' | translate }}</span>
    <span>·</span>
    <span>{{ 'marquee.item1' | translate }}</span>
    <span>·</span>
    <span>{{ 'marquee.item2' | translate }}</span>
    <span>·</span>
    <span>{{ 'marquee.item3' | translate }}</span> 
    <span>·</span>
    <span>{{ 'marquee.item4' | translate }}</span>
    <span>·</span>
    <span>{{ 'marquee.item1' | translate }}</span>
    <span>·</span>
    <span>{{ 'marquee.item2' | translate }}</span>
    <span>·</span>
    <span>{{ 'marquee.item3' | translate }}</span> 
    <span>·</span>
    <span>{{ 'marquee.item4' | translate }}</span>
    <span>·</span>
</div>

