@import "../../../styles.scss";

:host {
  position: relative;
  bottom: 5vh;
  transform: rotate(-3deg);  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.05);
  padding: 12px 0;
  font-size: 24px;
  font-weight: 400;
  @include respond-to("sm") {
    padding: 16px 0;
    font-size: 32px;
  }
  @include respond-to-landscape {
    padding: 12px 0;
    font-size: 24px;
  }
}

div {
  animation: scroll-text 20s infinite linear;
  white-space: nowrap;
  span {
    margin: 0 32px;
  }
}

@keyframes scroll-text {
  0% {
    transform: translateX(-7.1%);
  }
  100% {
    transform: translateX(-35.7%);
  }
}
