@font-face{
    font-family: 'Fira-Code';
    src: url(./assets/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Fira-Code';
}

app-navbar{
    position: absolute;
    top: 0;
}