$background-color-primary: #1c1c1c;
$background-color-secondary: #08463b;
$text-color-primary: #d9d9d9;
$accent-color: #3dcfb6;
$error-text: #ec7b7bcc;

$breakpoints: (
  "xs": 0,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
);

$padding-values: (
  "xs": 64px 16px,
  "sm": 64px 32px,
  "md": 32px 64px,
  "xl": 64px 128px,
  "xxl": 128px 0
);

@font-face {
  font-family: "Fira-Code";
  src: url(/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Karla";
  src: url(/fonts/Karla/Karla-VariableFont_wght.ttf);
}

@keyframes scroll-text {
  0% {
    transform: translateX(0%);
  }
  49.99% {
    transform: translateX(-200%);
  }
  50% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0%);
  }
}

@mixin dFlex($fd: row, $jc: center, $ai: center, $g: 0px) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

@mixin transition-all {
  transition: all 125ms ease;
}

@mixin scroll-text-animation($duration: 2s, $iteration: infinite, $timing: linear) {
  animation: scroll-text $duration $iteration $timing;
}

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @if $breakpoint == "xs" {
      @media (max-width: map-get($breakpoints, "sm")) {
        @content;
      }
    } @else {
      @media (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
      }
    }
  } @else {
    @warn "Keine gültigen Breakpoints für `#{$breakpoint}` gefunden.";
  }
}

@mixin respond-to-landscape {
  @media screen and (orientation: landscape) and (pointer: coarse) {
    @content;
  }
}

@mixin max-width {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Karla";
  color: white;
}

.no-scroll {
  overflow: hidden;
}


