$background-color-primary: #1c1c1c;
$background-color-secondary: #08463b;
$text-color-primary: #d9d9d9;
$accent-color: #3dcfb6;
$error-text: #ec7b7bcc;

$breakpoints: (
  "xs": 0,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
  "xxxl": 1920px
);

$padding-values: (
  "xs": 64px 16px,
  "sm": 64px 32px,
  "md": 64px,
  "xxl": 64px 96px,
  "xxxl": 64px 0,
);

@font-face {
  font-family: "Fira-Code";
  src: url(/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Karla";
  src: url(/fonts/Karla/Karla-VariableFont_wght.ttf);
}

@keyframes scroll-text {
  0% {
    transform: translateX(0%);
  }
  49.99% {
    transform: translateX(-200%);
  }
  50% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0%);
  }
}

@mixin dFlex($fd: row, $jc: center, $ai: center, $g: 0px) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

@mixin transition-all {
  transition: all 125ms ease;
}

@mixin scroll-text-animation(
  $duration: 2s,
  $iteration: infinite,
  $timing: linear
) {
  animation: scroll-text $duration $iteration $timing;
}

@mixin scroll-animation($direction: left, $distance: 50px, $duration: 0.6s) {
  opacity: 0;

  @if $direction == left {
    transform: translateX(-1 * $distance);
  } @else if $direction == right {
    transform: translateX($distance);
  } @else if $direction == bottom {
    transform: translateY($distance);
  }

  transition: opacity $duration ease-out, transform $duration ease-out;

  &.animate-on-scroll {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @if $breakpoint == "xs" {
      @media (max-width: map-get($breakpoints, "sm")) {
        @content;
      }
    } @else {
      @media (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
      }
    }
  } @else {
    @warn "Keine gültigen Breakpoints für `#{$breakpoint}` gefunden.";
  }
}

@mixin respond-to-landscape {
  @media screen and (orientation: landscape) and (pointer: coarse) {
    @content;
  }
}

@mixin max-width {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: $background-color-primary;
}

::-webkit-scrollbar-thumb {
  background: $accent-color;
  border-radius: 100vw;
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: $background-color-primary $accent-color;
    scrollbar-width: thin;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Karla";
  color: white;
}

.no-scroll {
  overflow: hidden;
}

.d-none {
  display: none;
}

.button {
  border: 1px solid white;
  border-radius: 100px;
  padding: 12px 16px;
  background: transparent;
  color: white;
  font-family: "Karla";
  font-size: 18px;
  cursor: pointer;
}