@import "../../../styles.scss";

:host {
  @include dFlex($jc: space-between);
  background-color: $background-color-primary;
  padding: 32px;
}

.left-div {
  @include dFlex($fd: column, $ai: flex-start, $g: 8px);
  img {
    width: 150px;
  }
}

.center-div {
  span {
    color: $accent-color;
    font-family: "Fira-Code";
    font-size: 18px;
  }
}

.right-div {
  ul {
    @include dFlex($fd: column, $ai:flex-start, $g: 8px);
    list-style: none;
    li {
        a{
        color: white;
        text-decoration: none;
        &:hover {
            color: $accent-color;
        }
        }
    }
  }
}
