@import "../../../styles.scss";

:host {
  @include dFlex($jc: space-between);
  background-color: $background-color-primary;
  padding: 16px;
  @include respond-to('sm') {
      padding: 32px 64px;
  }
  @include respond-to('md') {
      padding: 32px 128px;
  }
  width: 100%;
}

.left-div {
  @include dFlex($fd: column, $ai: flex-start, $g: 8px);
  img {
    width: 150px;
    cursor: pointer;
  }
}

.center-div {
  span {
    display: none;
    color: $accent-color;
    font-family: "Fira-Code";
    font-size: 18px;
    @include respond-to('lg') {
      display: inline;
    }
  }
}

.right-div {
  ul {
    @include dFlex($fd: column, $ai:flex-start, $g: 8px);
    list-style: none;
    li {
        a{
        color: white;
        text-decoration: none;
        &:hover {
            color: $accent-color;
        }
        }
    }
  }
}
