<div class="left-div">
    <img src="/img/mh-logo4.png">
    <span>Frontend-Developer</span>
    <span>Berlin Germany</span>
</div>
<div class="center-div">
    <span>© Marcus Hartmann 2024</span>
</div>
<div class="right-div">
    <ul>
        <li><a href="https://github.com/mrcsbrln" target="_blank">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/marcus-hartmann-berlin/" target="_blank">LinkedIn</a></li>
        <li><a href="maito:info@marcus-hartmann.net">Email</a></li>
        <li><a routerLink="/imprint">Legal Notice</a></li>
    </ul>
</div>
