<div class="wrapper">
  <div class="left-div">
    <img src="/img/mh-logo.png" routerLink="/" (click)="scrollToTop()" />
    <span>{{ "footer.frontend-developer" | translate }}</span>
    <span>{{ "footer.location" | translate }}</span>
  </div>
  <div class="center-div">
    <span>© Marcus Hartmann {{ currentYear }}</span>
  </div>
  <div class="right-div">
    <ul>
      <li><a href="https://github.com/mrcsbrln" target="_blank">GitHub</a></li>
      <li>
        <a
          href="https://www.linkedin.com/in/marcus-hartmann-berlin/"
          target="_blank"
          >LinkedIn</a
        >
      </li>
      <li><a href="mailto:info@marcus-hartmann.net">Email</a></li>
      <li>
        <a routerLink="/imprint">{{ "footer.imprint" | translate }}</a>
      </li>
    </ul>
  </div>
</div>
